<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>
    <script>
        seajs.config({
            base:"/sources/sea-modules/",
            alias: {}
        })
        
        if (location.href.indexOf("?dev") > 0){
            seajs.use("/sources/static/common/src/common.js"); //开发环境
        } else {
            seajs.use("/sources/static/common/src/common.js"); // 发布环境
        }
    </script>
    <!--百度统计-->
    <script src="//hm.baidu.com/hm.js?4461f2d49c12c7c1e4fd372baa82b125"></script>
</footer>
